# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- Rstudio
- Watson studio

some of the popular languages that data scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-Learn
4. Tensorflow

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|Jupyter Lab|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335

## Author
Ossai Christian Ozioma